$white: #fff;
$black: #000;
$light-grey: #ccc;
$dark-grey: #5e5e5e;

$primary-font-color: $white;
$secondary-font-color: $light-grey;

$primary-background-color: $light-grey;
$secondary-background-color: $dark-grey;
$tertiary-background-color: $black;

// $primary-font-color:red;
// $secondary-font-color: orange;

// $primary-background-color: yellow;
// $secondary-background-color: green;
// $tertiary-background-color: blue;

$margin-size: 1rem;
$padding-size: 1rem;